body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(0.25turn,rgb(146, 1, 88), #201777, rgb(0, 179, 179))
}

.start-page {
  text-align: center;
  height: 850px;
  width: 1250px;
  background-color: green;
}

.game-page {
  text-align: center;
  height: 850px;
  width: 1250px;
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 20px;
}

#scissors, #paper, #rock {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.424);
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
}

#rock:hover, #paper:hover, #scissors:hover {
  border: 10px solid rgba(164, 79, 197, 0.89);
  cursor: pointer;
}

#rock {
  background-image: url("images/rock.png");
}

#paper {
  background-image: url("images/paper.png");
}

#scissors {
  background-image: url("images/scissors.png");
}

#header {
  font-size: 23px;
}

.current-score, .current-streak {
  text-align: right;
  margin-right: 1rem;
}

.current-score h2, .current-streak h2 {
  font-size: 20px;
}

#restart-game {
  margin-top: 5%;
  background: linear-gradient(0.25turn,rgb(153, 23, 101), rgb(53, 230, 230));
  width: 200px;
  height: 75px;
  border-radius: 10px;
  font-size: 23px;
  color: white;
}

.outcome {
  font-size: 25px;
  color: white;
}

#player-wins {
  display: none;
  position: absolute;
  top: 25%;
  left: 40%;
}

#tie {
  display: none;
  position: absolute;
  top: 25%;
  left: 47%;
}

#player-loose {
  display: none;
  position: absolute;
  top: 25%;
  left: 40%;
}