body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

.start-page {
  text-align: center;
  height: 1050px;
  width: 1250px;
  background-color: green;
}

.game-page {
  text-align: center;
  height: 1050px;
  width: 1250px;
  background-color: purple;
}